.Rproj.user
.Rhistory
.RData
.Ruserdata
Data/inputDB.zip
Data/WPP2019_INT_F03_1_POPULATION_BY_AGE_ANNUAL_BOTH_SEXES.xlsx
Data/WPP2019_INT_F03_2_POPULATION_BY_AGE_ANNUAL_MALE.xlsx
Data/WPP2019_INT_F03_3_POPULATION_BY_AGE_ANNUAL_FEMALE.xlsx
Data/WPP2019_MORT_F16_1_LIFE_EXPECTANCY_BY_AGE_BOTH_SEXES.xlsx
Data/WPP2019_MORT_F16_2_LIFE_EXPECTANCY_BY_AGE_MALE.xlsx
Data/WPP2019_MORT_F16_3_LIFE_EXPECTANCY_BY_AGE_FEMALE.xlsx
Data/cumulative_excess_age_2020_2021.csv
Data/cumulative_excess_age_2020_2021_mx_pe.csv
Data/covid_pooled_2021-03-05.csv
Data/Hungary_adjusted.rds
Output/lifetables_mid_ages.rds
Output/lifetables_mid_ages_for_excess.rds
SM
